html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

html {
    font-size: 100%;
    color: #1D81CC;
    font-family: 'Emblema One', cursive;
}

h1, h2, h3, h4, p, ul {
    margin: 0;
    padding: 0;
}

p {
    font-family: 'Barlow', sans-serif;
    color: #1F2022;
    font-size: 20px;
    letter-spacing: 0.2px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    display: block;
}

.wrapper {
    max-width: 1080px;
    width: 90%;
    margin: 0 auto;
}

section {
    padding: 100px;
}

/* HEADER STYLING */

header  {
    background-image: url(./electric-select/assets/header-alt.png);
    background-size: cover;
    background-position: right;
    background-color: #f5c8cf;
    height: 110vh;
}

.headerFlex {
    display: flex;
}

h1  {
    text-transform: uppercase;
    font-size: 104.6px;
    padding-top: 100px;
    line-height: 87.3px;
}

header p {
    margin-left: 70px;
    font-size: 37.2px;
    letter-spacing: 0.3px;
}

.fa-bars {
    position: absolute;
    top: 25px;
    right: 25px;
    font-size: 3rem;
    visibility: hidden;
    color: #042259;
}

nav ul{
    display: flex;
    font-family: 'Catamaran', sans-serif;
    color: #1F2022;
    text-transform: uppercase;
}

nav a {
    display: inline-block;
    padding: 10px 30px;
    font-size: 18px;
}

.icons {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 25px;
    right: 25px;
    font-size: 1.5rem;
    color: #1D81CC;
    margin: 100px 10px;
    justify-content: space-around;
}

.fa-facebook-f {
    padding: 10px 0px;
}

.fa-twitter {
    padding: 10px 0px;
}

h2  {
    text-transform: uppercase;
    line-height: 37.9px;
    letter-spacing: 0.3px;
    font-size: 42px;
}

.gallery h2 {
    text-align: center;
}

.gallery {
    background-color: #FCDDE2;
    padding-top: 50px;
}

.galleryFlex {
    display: flex;
}

.galleryFlex li {
    width: calc((100% / 3) - 10px);
    margin: 20px 10px;
}

.coffee {
    display: flex;
    justify-content: space-between;
}

.coffee img {
    width: auto;
    height: 40vh;
    margin: 20px 20px 20px 60px;
}

.coffee h2 {
    text-align: left;
    margin-top: 20px;
}

button {
    font-family: 'Emblema One';
    font-size: 20px;
    text-transform: uppercase;
    margin-top: 10px;
    padding: 5px;
    line-height: 29px;
    letter-spacing: 0.2px;
    border-style: solid;
}

.coffeeButton {
    background-color: #042259;
    color: white;
}

.smoothie {
    display: flex;
    padding: 0px;
    background-color: #F0F5FF;
}

.smoothie img {
    width: 3200px;
    height: 80vh;
}

.smoothie .textContainer {
    text-align: center;
    margin: 100px 100px 0px 100px;
}

.smoothie button, .stove button {
    background-color: #f5c8cf;
}

.stove {
    display: flex;
    padding: 0px;
    background-color: #F0F5FF;
}

.stove img {
    width: 3200px;
    height: 80vh;
}

.stove .textContainer {
    text-align: center;
    margin: 100px;
}

.banner {
    display: flex;
    justify-content: center;
    background-color: #FCDDE2;
    color: #1D81CC;
    font-size: 31.2px;
    padding: 0px 0px 50px 0px;
}

.jobs {
    margin: 0px 60px;
}


.bannerIcons {
    display: flex;
    justify-content: center;
    background-color:#FCDDE2;
    color: #042259;
    padding: 50px 0px 20px 0px;
    font-size: 31.2px;
}

.fa-briefcase {
    margin: 0px 150px;
}

footer nav ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-family: 'Emblema One';
    color:#1D81CC;
    text-transform: uppercase;
}

footer nav a {
    padding: 10px 30px;
    font-size: 25px;
}


/* Media Queries */

@media (max-width: 900px){

    .headerFlex {
        flex-direction: column;
        }
    
    header {
        display: flex;
        flex-direction: column;
    }

    header nav, .icons, .toaster {
        display: none;
    }

    h1 {
        font-size: 90px;
    }

    h2 {
        padding-bottom: 30px;
    }

    header p {
        font-size: 30px;
    }

    i.fa-bars {
        visibility: visible;
    }

    .coffee, .stove {
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    button, .smoothie button, .stove button {
        padding: 20px 40px;
        margin-top: 40px;
        background-color: #042259;
        color: white;
    }

    .coffee h2 {
        text-align: center;
    }

    .gallery {
        padding: 50px 20px;
    }
        
    .galleryFlex {
        width: 150%;
        }

    .coffee img {
        width: 80%;
    }

    .smoothie {
        flex-direction: column-reverse;
        text-align: center;
        align-items: center;
    }

    .stove img {
        margin-top: 50px;
    }



    }



